@import url("https://fonts.googleapis.com/css2?family=Roboto");


:root {
    --uom-purple: #660099;
    --uom-font: "Roboto", sans-serif;
}


header {
    font-family: var(--uom-font) !important;
}


body {
    font-family: var(--uom-font);
}



.bg-primary{background-color: var(--uom-purple) !important}


.breadcrumb {
    display: flex;
    /* display: none; */
}


a {
    text-decoration-color: var(--uom-purple);
}


a:hover {
  color: var(--uom-purple) !important;
}


.navbar-brand{
  color: #FFF !important;
}


.navbar-brand:hover{
  color: #6c6c6c !important;
}


footer {
    font-family: var(--uom-font) !important;
}


/* For code use the default, Adobe Source Code Pro */
/* Code snippets. */
/*pre, code, kbd, samp {
  font-family: "Courier New", monospace;
}*/

